{% load static %}
<section class="ftco-section ftco-no-pb goto-here" id="resume-section">
	<div class="container">
		<div class="row">
			<div class="col-md-3">
			    <nav id="navi">
				    <ul>
				    	<li><a href="#page-1">Education</a></li>
				    	<li><a href="#page-2">Experience</a></li>
				    	<li><a href="#services-section">Skills</a></li>
					</ul>
				</nav>
			</div>
			<div class="col-md-9">
				<div id="page-1" class= "page one">
					<h2 class="heading">Education</h2>
    				<div class="resume-wrap d-flex ftco-animate">
						<div class="icon d-flex align-items-center justify-content-center" style="background: none;">
							<img src="{% static 'images/LogoCEEP.png' %}" class="img-fluid">
				    	</div>
				    	<div class="text pl-3">
							<span class="date">2019-2021</span>
	    					<h2>(HNC) Multi-platform Applications Development</h2>
	    					<span class="position">CEEP</span>
	    					<p>Multi-platform Applications Development</p>
	    				</div>
    				</div>
					<div class="resume-wrap d-flex ftco-animate">
						<div class="icon d-flex align-items-center justify-content-center" style="background: none;">
							<img src="https://colegiohipatia.fuhem.es/images/LogoColegioHipariaFuhem-portada.png" class="img-fluid">
							<!--<span class="flaticon-ideas"></span>-->
						</div>
						<div class="text pl-3">
							<span class="date">2017-2019</span>
							<h2>Microcomputer SYSTEMS AND NETWORKS Technician</h2>
							<span class="position">CEM Fuhem Hipatia </span>
							<p>Vocational Education and Training coursed in the CEM Fuhem Hipatia (Madrid, Spain).</p>
						</div>
					</div>
				</div>
				<div id="page-2" class= "page two">
				  	<h2 class="heading">Experience</h2>					
    				<div class="resume-wrap d-flex ftco-animate">
    					<div class="icon d-flex align-items-center justify-content-center" style="background: none;">
				    		<img src="{% static 'images/logo_nttdata.png' %}" class="img-fluid">
				    	</div>
				    	<div class="text pl-3">
							<span class="date">June 2021 - now</span>
	    					<h2>Junior Engineer</h2>
	    					<span class="position">NTT DATA</span>
	    					<p>Junior Engineer in the RPA team.</p>
	    				</div>
    				</div>
					<div class="resume-wrap d-flex ftco-animate">
						<div class="icon d-flex align-items-center justify-content-center" style="background: none;">
				    		<img src="{% static 'images/logo_nttdata.png' %}" class="img-fluid">
				    	</div>
				    	<div class="text pl-3">
							<span class="date">April 2021 - June 2021</span>
	    					<h2>Intership Student</h2>
	    					<span class="position">NTT DATA</span>
	    					<p>Learning Robotic process automation (RPA) processes that
								emulate humans actions interacting with digital systems and
								software and his platform UiPath.</p>
							</div>
						</div>
						<div class="resume-wrap d-flex ftco-animate">
							<div class="icon d-flex align-items-center justify-content-center" style="background: none;">
								<img src="https://gruposermicro.com/wp-content/uploads/2018/05/LogoGrupoSermicro.png" class="img-fluid">
							</div>
							<div class="text pl-3">
								<span class="date">March 2019 - June 2019</span>
								<h2>Intership</h2>
								<span class="position">GRUPO SERMICRO S.L – Networking</span>
								<p>Company practices carried out in “Grupo Sermicro”. Worked In:
									•	Configuration of Cisco Switches
									•	Huawei AP Preparation
									•	IP Phones Instalation
								</p>
							</div>
						</div>
					</div>					
			</div>
		</div>
	</div>
</section>