<!DOCTYPE html>
<html lang="en">
<head>
	{% load static %}
	<title>Password Generator</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="Password generator made by Marcos Cuesta Abanades. Click to see more details!">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">
	<link rel="shorcut icon" href="{% static 'images/favicon.ico' %}" type="image/ico" />
    
	{% include "common/cssImports.html" %}  

</head>
<style>
	input[type=text], input[type=email], textarea {
		width: 100%;
		padding: 12px 20px;
		margin: 8px 0;
		display: inline-block;
	}
</style>
<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">  
    {% include "common/navigation.html" %}
    <section class="ftco-section contact-section ftco-no-pb" id="contact-section">
        <div class="container">
            <h2 class="heading-section text-center">Password Generator</h2>
            <div class="row no-gutters block-9">
                <div class="col-md-12 order-md-last d-flex">							
                    <form action="" method="POST" class=" p-4 p-md-5 contact-form">
                        {% csrf_token %}
                        {{ passwordform }}
                        <div class="form-group d-flex justify-content-center">                            
                            <input type="submit" value="Generate" class="btn btn-primary mt-3 py-3 px-5">
                        </div>
                    </form>
                </div>
            </div>
            <div class="row d-flex contact-info mb-5">
                <div class="col-md-12 col-lg-12 d-flex ftco-animate">
                    <div class="align-self-stretch box text-center p-4 shadow">
                        <div class="icon d-flex align-items-center justify-content-center">
                            <span class="icon-map-signs"></span>
                        </div>
                        <div>
                            <h3 class="mb-4">Your password is generated below!</h3>
                            <p class="heading-section text-center">{{password}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </section>

    {% include "common/footer.html" %}
  
    
  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>
  
  {% include "common/jsImports.html" %}  
</body>
</html>